<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-3">SpaceX</h1>
        </div>
        <!--Filter Section-->
        <div class="col-md-4">
            <div class="filter-section-wrapper">
                <div class="card">
                    <div class="card-body">
                        <div class="filter-header-wrap">
                            <h3>Filter</h3>
                            <a href="">Clear filter</a>
                        </div>
                        <div class="filter-sub-title">
                            <h4>Launch Year</h4>
                        </div>
                        <ul class="filter-buttons">
                            <li *ngFor="let year of launchYears">{{year}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div *ngFor ="let item of launchDataArray" class="col-md-4">
                    <app-launch-details-card></app-launch-details-card>
                </div>
            </div>
        </div>
    </div>
</div>