<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--Title Page-->
            <h1 class="my-3">SpaceX Launch Programs</h1>
        </div>
        <br>
        <br>
        <!--Filter Section-->
        <div class="col-md-12">
            <div class="filter-section-wrapper">
                <div class="card">
                    <div class="card-body">
                        <!--<div class="filter-header-wrap">
                            <div class="form-outline">
                                <input type="search" id="form1" class="form-control" placeholder="Search Mission Name" aria-label="Search"/>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--Data Retrieval from SpaceX API-->
        <div class="col-md-12">
            <p *ngIf="isLoading" class="loading-text">Please wait while the data is loading...</p>
            <div *ngIf="!isLoading" class="row">
                <div *ngFor ="let item of launchDataArray" class="col-md-4">
                    <app-launch-details-card [data]="item"></app-launch-details-card>
                </div>
            </div>
        </div>
    </div>
</div>